/*
* @Author: lenovo
* @Date:   2018-08-03 09:47:21
* @Last Modified by:   lenovo
* @Last Modified time: 2018-08-03 20:11:25
*/
*{
	margin:0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.box{
	width: 100%;
/* 	height: 1000px; */
	background: red;
}
/* 添加空元素：清除浮动 */
/* .box:after{
	content: "";
	display: block;
	clear: both;
} */
.box .banner{
	width: 1200px;
	margin: 0 auto;
}
.box .list{
	width: 320px;
	height: 330px;
	background: green;
	float: left;
	margin-bottom: 20px;
	margin-right: 10px;
}
/* 浮动的卡顿 */
/* .box .list:nth-child(2){
	height: 380px;
} */
/* 列表 */
/* .copyright{
	width: 100%;
	background: blue;
}
.copyright .container{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: red;
}
.copyright ul li{
	width: 280px;
	height: 500px;
	background:yellow;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
 */
/* .bottom{
	margin-top: 50px;
	width: 100%;
	background: yellow;
}
.bottom .container{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: blue;
}
.bottom dl{
	width: 186px;
	height: 168px;
	background-color: red;
	border-right: 1px solid #f0f0f0;
	float: left;
}
.bottom dl dt{
	font-size: 24px;
	font-weight: bold;
}
.bottom dl dt dd{
	font-size: 20px;
} */