/*
* @Author: lenovo
* @Date:   2018-08-13 08:47:59
* @Last Modified by:   lenovo
* @Last Modified time: 2018-08-13 08:50:33
*/
/* 公共样式：小屏幕 */
*{
		margin: 0;
		padding: 0;
		list-style: none;
		box-sizing: border-box;
	}
	main{
		background: red;	
	}
	main ul li{
		height: 350px;
		border: 1px solid #000;
	}
	@media screen and (min-width: 768px){
		
	}